@import '../core/Variables.scss';
.header {
  height: 15%;
  width: 100%;
  background-color: $mediumColor;
  display: flex;
  align-items: center;
  justify-content: center;
  @media all and (min-width: 768px) {
    flex-direction: column;
  }
  &__text {
    display: none;
  }
  &__logo {
    width: 80px;
    // padding: 15px 0;
    margin: 10px 5px 5px 5px;
    @media all and (min-width: 768px) {
      width: 60px;
      margin-top: 0;
    }
    @media all and (min-width: 1100px) {
      width: 80px;
      margin-top: 0;
    }
  }
  &__icon {
    font-size: 20px;
    margin: 0 5px 0 170px;
    color: $darkColor;
    @media all and (min-width: 768px) {
      display: none;
    }
  }
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  &__list {
    display: none;
    @media all and (min-width: 768px) {
      color: white;
      font-family: $mainText;
      font-weight: 500;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;
    }
    @media all and (min-width: 1100px) {
      font-size: 19px;
      gap: 105px;
    }
  }
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
