@import '../core/Variables.scss';

.projects {
  background-color: $ligthColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  @media all and (min-width: 768px) {
    flex-direction: row;
    height: 80%;
    gap: 50px;
  }
  &__one {
    background-color: $mediumColor;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--img {
      width: 200px;
      border-radius: 10px;
    }
    &--title {
      color: white;
      font-family: $mainText;
      font-size: 18px;
      text-align: center;
      padding: 10px;
    }
    &--desc {
      font-family: $mainText;
      font-size: 16px;
      text-align: center;
    }
    &--button {
      font-family: $mainText;
      background-color: $darkColor;
      padding: 7px;
      border-radius: 20px;
    }
  }
}

.linkProject {
  color: white;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
}
